.app {
  background-color: rgb(35, 41, 94);
  height: 100%;
}

.container {
  background-color: white;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  height: 100vh;
}

.content {
  background-color: white;
  padding-top: 60px;
}

.subTitle {
  text-align: center;
  font-size: large;
}

.buttonContainer {
  margin-top: 100px;
}
