* {
  box-sizing: border-box;
}

/* Navigation Bar */
.header {
  top: 0;
  left: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
  background: white;
}

/* Main Title */
.main .title {
  font-size: 65px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}

.main .sub {
  font-size: 25px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}

.main img {
  display: block;
  height: 300px;
  width: 100%;
}

.socialLogo {
  display: flex;
  position: absolute;
  background-color: rgba(145, 145, 145, 0.7);
  padding: 15px 10px 15px 10px;
  border-radius: 50px;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socialLogo img {
  width: 35px;
  height: 35px;
  margin-right: 25px;
  margin-left: 25px;
}

@media screen and (max-width: 800px) {
  .main .title {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main .sub {
    font-size: 20px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main img {
    display: block;
    height: 250px;
    width: 100%;
  }

  .socialLogo {
    display: flex;
    position: absolute;
    background-color: rgba(145, 145, 145, 0.7);
    padding: 15px 10px 15px 10px;
    border-radius: 50px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .socialLogo img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 400px) {
  .main .title {
    font-size: 42px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main .sub {
    font-size: 20px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main img {
    display: block;
    height: 200px;
    width: 100%;
  }

  .socialLogo {
    display: flex;
    position: absolute;
    background-color: rgba(145, 145, 145, 0.7);
    padding: 15px 10px 15px 10px;
    border-radius: 50px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .socialLogo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* Main Content */
.content {
  padding: 0 20px 20px 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
}

/* Fake image */
.fakeimg {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
  height: 200px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.projectContainer {
  display: flex;
  align-content: space-between;
}

.projectgif {
  width: 50%;
  margin: 10px;
  background-color: #ddd;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .projectgif {
    width: 50%;
    margin: 10px;
    background-color: #ddd;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .projectgif {
    width: 50%;
    margin: 10px;
    background-color: #ddd;
    height: 100%;
  }
}

.projectdescription {
  width: 50%;
  margin: 10px;
}

.viewProject {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.viewProject a {
  width: 20px;
  margin-left: 5px;
  margin-right: 25px;
}

.viewProject img {
  width: 40px;
}

.skillsimg {
  width: 100%;
  display: flex;
}

.skillsimg .logos {
  text-align: center;
  width: 100%;
}

.skillsimg .logos img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Add a card effect for articles */
.projects {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.aboutme {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.technology {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.social {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 60px;
    text-align: center;
    align-items: center;
    align-self: center;
    background: #ddd;
    margin-top: 1300px !important;
    bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .projects,
  .aboutme,
  .technology,
  .social {
    background-color: white;
    padding: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
