* {
  box-sizing: border-box;
}

.container {
  background-color: rgb(35, 41, 94);
}

/* Main Title */
.main {
  font-size: 40px;
  padding: 250px 150px !important;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.textContainer {
  display: table-cell !important;
  vertical-align: middle !important;
}

.main h1 {
  animation: fadeIn linear 1.5s !important;
  -webkit-animation: fadeIn linear 1.5s !important;
  -moz-animation: fadeIn linear 1.5s !important;
  -o-animation: fadeIn linear 1.5s !important;
  -ms-animation: fadeIn linear 1.5s !important;
}

.heyThere {
  animation: fadeIn linear 1.5s !important;
  -webkit-animation: fadeIn linear 1.5s !important;
  -moz-animation: fadeIn linear 1.5s !important;
  -o-animation: fadeIn linear 1.5s !important;
  -ms-animation: fadeIn linear 1.5s !important;
}

.location {
  animation: fadeIn linear 1.5s !important;
  -webkit-animation: fadeIn linear 1.5s !important;
  -moz-animation: fadeIn linear 1.5s !important;
  -o-animation: fadeIn linear 1.5s !important;
  -ms-animation: fadeIn linear 1.5s !important;
  padding-top: 20px;
  font-size: 20px;
}

.main span {
  font-weight: 900;
}

.heyThere {
  padding-bottom: 20px;
  font-weight: 900;
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 250px 80px !important;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 250px 50px !important;
    background-color: rgb(255, 255, 255);
  }
  .main h1 {
    font-size: 35px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Content */
.content {
  padding: 0 20px 20px 20px;
  position: relative;
}

.content h2 {
  font-weight: 900;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
}

/* Fake image */
.fakeimg {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
  height: 200px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.projectContainer {
  display: flex;
  align-content: space-between;
}

.projectgif {
  width: 50%;
  margin: 10px;
  background-color: #ddd;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .projectContainer {
    display: block;
    width: 100%;
  }
  .projectgif {
    width: 100%;
    margin: 0 auto;
    background-color: #ddd;
  }
  .projectdescription {
    width: 100%;
    padding-right: 30px;
  }
}

.projectdescription {
  width: 100%;
  margin: 20px;
}

.viewProject {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.viewProject a {
  width: 20px;
  margin-left: 5px;
  margin-right: 25px;
}

.viewProject img {
  width: 40px;
}

.skillsimg {
  width: 100%;
  display: flex;
}

.skillsimg .logos {
  text-align: center;
  width: 100%;
}

.skillsimg .logos img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Add a card effect for articles */
.projects {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.aboutme {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.aboutme img {
  width: 70%;
}

.socialLogo {
  padding: 15px;
  text-align: center;
}

.socialLogo img {
  width: 35px;
  height: 35px;
  margin-right: 25px;
  margin-left: 25px;
}

.technology {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.social {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 60px;
    text-align: center;
    align-items: center;
    align-self: center;
    background: #ddd;
    margin-top: 1300px !important;
    bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .projects,
  .aboutme,
  .technology,
  .social {
    background-color: white;
    padding: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
